body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color:#002333
}

main {
    background-color:#002333;
}

.buttons {
    display:flex;
    margin-left:auto;
    font-family:'Courier New', Courier, monospace;
}

button[class="Featured"] {
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
}

button[class="Home"] {
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
}

#search-bar {
    height:30px;
    width: 200px;
    margin:10px;
    margin-top:20px;
    border:2px black solid
}

.dropdown {
    display:inline-block;
}

.options {
    border: 1px solid black;
    font-size: 20px;
    width: 100px;
    background-color:#B4BEC9;
    font-family:'Courier New', Courier, monospace;
}

.dropdownButton {
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
    margin-top:25px
}

#drop-options {
    display:none;
}

#drop-options.show {
    display:block;
    display:flex;
    flex-direction:column;
}

.featureFooter {
    background-color:#DEEFE7;
    height:50px;
}


.feature_playlist {
    display:flex;
    justify-content: flex-end;
}

.feature_names {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-right:400px
}

header {
    display:flex;
    padding: 15px;
    font-family:'Courier New', Courier, monospace;
    background-color:#DEEFE7;
    border:2px solid #B4BEC9;
    color:#002333;
}

footer {
    background-color:#DEEFE7;
    height:20px;
}

h2 {
    margin-left:100
}

.playlist-cards {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.playlist-card {
    border: 3px solid #159A9C;
    width: 250px;
    height: 450;
    border-radius:15%;
    background-color:#B4BEC9;
    margin: 30px;
    padding: 10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow: 10px 10px
}

.playlist-card:hover {
    background-color:#DEEFE7;
}

.likes {
    display:flex;
    align-items:center;
    
}

.title {
    display:flex;
    justify-content: center;
    align-items: stretch;
}

img[src="assets/img/heart-icon.webp"] {
    height:40px;
    border:0px;
}


img[src="assets/img/plus_sign.png"] {
    height:40px;
    border:0px;
}

img[src="assets/img/x-picture.webp"] {
    height:40px;
    border:0px;
}

img[alt = "Playlist Image"] { /* for the modal main playlist image */
    height:300px
}

img[alt = "Song Image"] {
    height:90px;
}

img[alt = "Featured Playlist Image"] { /* for the modal main playlist image */
    height:500px;
    border: 1px black;
    box-shadow: 10px 10px

}

img[alt = "Featured Song Image"] {
    height:90px;
    box-shadow: 5px 5px #002333;
}

.times {
    margin-left:auto;
    margin-right:10px;
}

.featured_song {
    display:flex;
    border:1px solid black;
    margin:10px;
    width:400px;
    background-color:#DEEFE7; 
    box-shadow: 5px 5px #002333;
    
}

.featured_songs {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
}

.feature_names{
    color :#DEEFE7;
}

.featuredTimes {
    margin-left:auto;
    margin-right:20px
}


.song {
    display:flex;
    border:1px solid black;
    margin:10px;
    background-color:#DEEFE7; 
    box-shadow: 5px 5px #002333;
}

/* for images in the playlist cards */
img {
    max-height:100%;
    max-width:100%;
    border-radius: 10%;
    margin:15px;
    border:1px solid black
}

#addSongs {
    display:flex;
    flex-direction:column;
    margin:10px;
}

button[type='submit'] {
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    background-color:#DEEFE7;
}

button[type='button'] {
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    background-color:#DEEFE7;
}

/* for the button */
button {
    background-color: Transparent;
    border: none;
}

#heart:hover {
   
   background-image: url("assets/img/black-heart.webp"); 
   background-size:contain;
   text-decoration: none;
   cursor: pointer;
}

/* Shuffle Button */
#shuffle-btn {
    border:1px black;
}

/* CSS for Modal */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#playlist-form {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;

}